#home {
    display: flex;
    min-height: calc(100vh - 168.31px );
    position: relative;
    overflow-x: hidden;
}

#cta {
    width: 35%;
    display: flex;
    flex-direction: column;
    gap: 28px;
    margin-top: 5%;
}

#cta .title {
    font-size: 3rem;
    color: #1d1d1d;
    
}

#cta .title span {
    color:  rgb(181, 81, 110);
    
}

#cta .descrição {
    font-size: 1.2rem;
}

#cta_buttons {
    display: flex;
    gap:24px; 
}

#cta_buttons a{
    text-decoration: none;
    color: #1d1d1d;

}

#phone_button {
    text-decoration: none;
    display: flex;
    gap: 8px;
    align-items: center;
    background-color: #ffff;
    padding: 8px 14px;
    font-weight: 500;
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
}

#phone_button button {
    box-shadow: none;
}

#banner {
    margin-right: -10%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    width: 80%;
    z-index: 2;
    position: relative;
    margin-top: 20px;
}

#banner img {
    height: 100%;
    width: 100%;
    margin-left: auto;
    align-items: flex-start;
    padding-bottom: 30%;
    

}
.shape {
    background-color: #fea22933;
    width: 50%;
    height: 60%;
    position: absolute;
    border-radius: 100% 0% 0% 20%;
    top: 40;
    right: 0;
    z-index: 1;
    overflow: hidden;
    
}


